@charset "UTF-8";

html,body{
    height:100%;
}

.paddingTB-20{
    display:inline-block;
    margin:20px 0;
}

.about-content{ 
    padding-top:55px;  
    width:100%; 
    min-width: 700px;
    background-color: #fff;
}

.about-header{
    background-image: url(/images/about_header_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%; 
    position: relative;
    width: 100%;
    height:200px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/about_header_bg.jpg', sizingMethod='scale')\9;
     
}

.about-header .header-text-bg{ 
    display:inline-block;
    height:200px;
    width:100%;
    background-color: #000;
    opacity:0.3;
    
}

.about-nav{ 
    background-color: #f5f5f5;
}

.about-nav .nav{
    display:table; 
    margin:0 auto;
}

.nav ul{

}

.nav ul li{
    float:left;
}

.nav a{
    font-size: 18px;
    padding: 20px 30px; 
    display: block; 
    cursor:pointer;
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}

.static{ 
    color:#666;
}

.active{
    color:#f00;
}

.nav a:hover{
    color:#f00;
}

.about-body{
    min-height: 700px;
    background-color: #fff;
}

.body-wrap{
    width:800px;
    margin:0 auto;
}

.body-header{
    height:100px; 
    border-bottom: 2px #ededed solid;
}

.body-header span{
    display:inline-block;
    text-align: left;
    margin-top:50px;
    width:100%;
    color:#333;
    font-size: 27px;
}

.introduction{
    margin:10px 0;
    color: #555;
    font: 14px/180% Arial,Helvetica,sans-serif;
}

.bft{
    color: #555;
    font: 14px/180% Arial,Helvetica,sans-serif;
}

.history{
    margin:10px 0;
    color: #555;
    font: 14px/180% Arial,Helvetica,sans-serif;
}

.body-content{
    padding-top: 20px;
}

.body-content textarea{ 
    margin-top: 20px; 
    border: 1px solid #ccc;
    outline: none; 
    resize:none;
    padding:5px 5px;
    width: 790px;
    height: 100px; 
    color: #555; 
    font: 14px/180% Arial,Helvetica,sans-serif;
}

.btn-commit{
    display:inline-block; 
    width:300px;
    height:42px;
    line-height: 42px;
    padding:0;  
    border:0;
    text-align:center;
    zoom:1;
    *display:inline;
    -webkit-transition:background-color .2s ease-in 0s;
    -moz-transition:background-color .2s ease-in 0s;
    -o-transition:background-color .2s ease-in 0s;
    transition:background-color .2s ease-in 0s;
    -moz-border-radius:2px;
    border-radius:2px;
    font-size:16px;
    color:#fff;
    background-color:#ff2d4b;
    cursor:pointer; 
}

 .btn-commit:hover,.btn-commit:focus{ 
    background-color:#e52843;  
    color:#fff;
    border:0;
}

.shangjiaruzhu{
    padding:30px 0;
}

.shangjiaruzhu label{
    display:block;
}

.shangjiaruzhu span{
    display:block; 
    padding:15px 0;
}

.shangjiaruzhu input{ 
    border: 1px solid #ccc;
    outline: none; 
    resize:none;   
    width:290px;
    height:30px;
    color: #555; 
    padding:2px 5px;
    font: 14px/180% Arial,Helvetica,sans-serif;
}

