@charset "UTF-8";

html{ 
    height:100%; 
    min-height: 650px;
}
body{
    background: url(/images/place_bg.jpg) no-repeat #F4F4F4;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/place_bg.jpg', sizingMethod='scale')\9;
    height:100%; 
    min-height: 650px;
}
.place-content{ 
    padding-top:55px;  
    width:100%;
}
.place-bg{ 
    width:100%;
    height:100%;  
    /*min-width: 1000px;*/
    min-height: 600px;
}
.place-wrap-1{ 
    position: absolute;
    width:700px; 
    margin-top:50px ;
    display:none;
}
.place-wrap-1 .place-cc{
    height:40px;
}


.place-wrap-1 .place-cc span{
    color:#fff;
    font-size:14px;
}

.place-wrap-1 .place-cc a{
    color:#fff;
    cursor:pointer;
}
.place-wrap-1 .place-cc a:hover{
    color:#f63440;
}

.place-wrap{ 
    margin:0 auto;
    width:700px;
    height:400px;
    border:1px #ccc solid;
    border-radius: 2px;
    background-color: #fff;
    opacity:0.1;
}

.place-shadow{
    /*-moz-box-shadow: 0px 2px 12px 2px #ccc; 
    -webkit-box-shadow: 0px 2px 12px 2px #ccc; 
    box-shadow: 0px 2px 12px 2px #ccc; */
}

.place-wrap .place-tab{
    height:50px;
    border-bottom: 1px #ccc solid;
}
.place-wrap .place-tab li{
    float:left;   
}

.place-wrap .place-tab .alive{ 
    color:#f63440;
    border-bottom: 3px #f63440 solid;
}

.place-wrap .place-tab a{
    color:#555;
    font-size: 16px;
    display: inline-block;
    height:48px;
    line-height: 48px;
    margin-left: 20px;
    margin-right: 20px; 
    cursor:pointer;  
}

.place-wrap .place-tab a:hover{ 
    color:#f63440;
    border-bottom: 3px #f63440 solid;
}

.place-wrap .place-names{
    padding:20px 50px;

}

.place-wrap .place-names .name-item{
    float:left;
    width:300px;
    height:45px;
    line-height: 45px;
}

.place-wrap .place-names .name-item a{ 
    color:#555;
    font-size: 15px;
    margin-left: 30px;
    cursor:pointer;
}
.place-wrap .place-names .name-item .new{
    padding-right: 35px;
    background:url(../images/new.png) no-repeat right;
}
.place-wrap .place-names .name-item a:hover{
    color:#f63440; 
}


.place-nav{ 

    position: absolute;
    width:62px; 
    top: 124px;
    background: #FFF;
    border: 1px solid #aaa; 
    text-align: center;
    z-index: 6;  
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
} 

.place-nav li{
    line-height: 32px; 
    display:list-item;
}

.place-nav li a{
    display:block;
    line-height: 32px; 
    color:#666;
    margin: 0;
    zoom: 1; 
    cursor:pointer;
}

.place-nav li a:hover{
    background:#f0f0f0;
}